<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3c4350"/>
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
     html {
       height: 100%;
       display: flex;
       flex-direction: column;
     }
     body {
       display: flex;
       flex: 1;
       font-family: 'Playfair Display', serif;
     }
     #root {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: stretch;
       flex: 1;
       width: 100%;
     }
     * {
       box-sizing: border-box;
     }
     a {
       color: inherit; /* blue colors for links too */
       text-decoration: inherit; /* no underline */
     }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <noscript>
      <a href="https://newsapi.org/">News Api</a>
    </noscript>
  </body>
</html>
